*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1%;
    box-shadow:5px,5px,20px,rgba(0, 0,0,.5);
    background-color: black;
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: green; !important
}
#navbarSupportedContent a{
    color: white;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid green;

}
#navbarSupportedContent button{
    border-radius: 30px;
}
section{
    width: 100%;
    min-height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home p{
    color: white;
}
#home{
    /* background-color: aqua; */
    flex-direction: column;
    background-image: url(lt_bgi.jpg);
    background-size: cover;
    background-position: center;

}
#home h1{
    font-size: 50px;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#home .input-group{
    width: 40%;
    height: 45px;
}
.sign{
    background: green;
    border-radius: 10px;
    color: white;
}
#about{
    background: rgb(39, 210, 39);
}
#about h2{
    font-weight: 600;
    font-size: 50px;
    color:white;
}
#about p{
    color: white;
}
#product{
    background: grey;
}
#product h2{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
}
#product img{
    width:200px;
    height:200px;
}
.card{
    width: 200px;
    height: 300px;
    background: gray;

}


