#content{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}
#left{
    border: 1px solid red;
    background-color:black;
    color: white;
    width: 30%;
    height: 1000px;
}
#right{
    border:1px solid black;
    width: 69%;
    height:1000px;
    color: black;
    
}
*{
    margin: 0;
    padding: 0;
}
#data{
    margin-top: 32%;
}
#about{

    position: absolute;
    top: 3%;
    color: aliceblue;
    background-color: blue;
    width: 99%;

}
h4{
    background: #000;
    color: white;
}
img{
    padding:0% 7%;
    margin: 2% 0%;
    /* border-radius: 4%; */
}
#name{
    text-align:center;
    margin-bottom:2% ;
}
#black{
    margin-top: 85%;
    margin-left: 10%;
}
label{
    margin-bottom: 2%;
    display: block;
}
h5{
    color: black;
    background-color: white;
    /* display: inline; */
    /* border-radius: 20%; */
}